#skills{
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.skill-title{
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

.skill-description{
  font-weight: 400;
  font-size: 1rem;
  max-width: 55rem;
  padding: 0 2rem;

}

.skill-bars{
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;

}
.skill-bar{
  display: flex;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background:rgb(50,50,50);
  overflow: scroll;
}

.skill-bar-img{
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
}

.skill-bar-text>p{
  font-size: 0.8rem;
  font-weight: 200;
  margin-top: 0.5rem;
}

@media screen and (max-width:480px) {
  .skill-bar-text>p{
    font-size: 3vw;
  }
  .skill-bar-img{
    height: 2.25rem;
    width: 2.25rem;
  }
  .skill-bar-text>h2{
    font-size: 5vw;
  }
}







